/*Initial setup for the page*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

/*set the main container to take up the whole screen and set the background to black. also centered its children*/
main {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*sets up our grid -- essential for tic-tac-toe*/
.game {
    display:grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    background-color: white;
    width: 620px;
    height: 620px;
    gap: 10px;
}

/*set up each block to center their contents and made black to give off a cool grid effect*/
.block {
    background-color: black;
    font-size: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease 500ms;
}

/*small glow when you hover over a block*/
.block:hover{
    background-color: rgb(37, 37, 37);
}

/*keeps our endscreen hidden until we need it */
.hide {
    display: none !important;
}

/*causes our gameover screen to shroud the board in opaque green*/
.gameover{
    position:absolute;
    width: 100vw;
    height:100vh;
    background-color: rgba(127, 255, 212, 0.356);
}

/*formats our gameover text to be centered*/
.gameendbody{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:100vh;
}

/*changes our font for the game end message*/
.gameendtext{
    font-size:50px;
}

/*makes our game over button look nice*/
.gameover button 
{  
    color:black;
    width: auto;
    font-size: 50px;
    border-radius: 8px;
    cursor: pointer;
}

/*for the maingame when the gameover screen is up*/
.fade {
    opacity: 15%;
}

.start {
    display: flex;
    position: absolute;
    flex-direction: column;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.start h1 {
    margin-bottom: 50px;
}


.start div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

.start button {
    height: 20%;
    width: 10%;
    margin: 1%;
    font-size: 100%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0);
}

.start button:hover {
    border: 3px solid white;
}

.start button:nth-child(3):hover {
    border: 3px solid red;
}

.start p {
    margin-top: 100px;
    font-size: 50%;
}